# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.opendb
*.ipch
.vs/file_to_bytes/v16/.suo
*.log
*.tlog
*.jpg
*.iobj
*.ipdb
*.pdb
*.txt
